.col_container{
    display: grid;
    width: 95%;
    justify-self: center;
    grid-template-columns: 38% 62%;
}
.col_main{
    width: 95%;
    grid-column: 1/2;
    justify-self: end;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70% 102px 102px;
}
.col_second{
    width: 95%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 55%;
}
.col_wrap{
    margin: 2px;
    border: 2px solid #23283e;
    border-radius: 2px;
    background-color: #23283e;
    display: grid;
}
.col_main .col_wrap{
    grid-row: 1/2;
    grid-column: 1/4;
    width: 98.6%;
}
.infoblock{
    margin: 2px;
    border: 2px solid #23283e;
    border-radius: 2px;
    background-color: #23283e;
    color: #fafdff;
    display: grid;
    transition: 1s;
}
.maintitle{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 20px;
    font-family: 'oswald';
    align-self: center;
}
.title{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 16px;
    font-family: 'oswald';
    margin-top: 25px;
}
.subtitle{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 12px;
    font-family: 'muli';
    align-self: end;
    margin-bottom: 25px;
    color: #606279;
}
.col_wrap svg{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}
.tooltip{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    justify-self: end;
    margin: 20px 20px 0px 0px;
    width: 200px;
    background-color: #181a29;
    color: #fafdff;
    opacity: 0;
    font-size: .75rem;
    padding: 4px;
}